*{
    background-color: rgb(251, 252, 252);
    color: rgb(10, 15, 59);
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(249, 253, 253);
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 800px; /* Optional: to limit the maximum width */
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

img {
    max-width: 100%;
    height: auto; /* Maintain aspect ratio */
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label, input {
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blue;
    font-style: italic;
}

input[type="submit"] {
    max-width: 150px;
    margin-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(5, 205, 35);
    font-style: normal;
}
